<footer class="footer-distributed">
  <div class="footer-left">
    <h3>Movie<span>Place</span></h3>
  </div>

  <div class="footer-center"></div>

  <div class="footer-right">
    <div class="footer-icons">
      <a href="https://www.facebook.com/tamir.shrikiz/" target="_blank"
        ><fa-icon [icon]="faFacebook"></fa-icon
      ></a>
      <a href="https://www.instagram.com/tamir_shriki/" target="_blank"
        ><fa-icon [icon]="faInstagram"></fa-icon
      ></a>
      <a href="https://github.com/shrikitamir" target="_blank"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
      <a href="https://www.linkedin.com/in/tamirsh/" target="_blank"
        ><fa-icon [icon]="faLinkedin"></fa-icon
      ></a>
    </div>
  </div>
</footer>
